<!-- main.html -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style.css">
    <title>Main Page</title>
</head>
<body>
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-dark text-white">
            <h2 class="text-center">Package Statistics</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Carbonation Level</th>
                        <th>Package Capacity</th>
                        <th>Non-carbonated Count</th>
                        <th>Light Carbonated Count</th>
                        <th>Strong Carbonated Count</th>
                        <th>Non-carbonated Count Today</th>
                        <th>Light Carbonated Count Today</th>
                        <th>Strong Carbonated Count Today</th>
                        <th>Today's Total Count</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><a th:href="@{/statistic/ONE_AND_A_HALF_LITER}"><span th:text="${selectedCapacity}"></span></a></td>
                        <td><span th:text="${packageCapacity}"></span></td>
                        <td><span th:text="${nonCarbonatedCount}"></span></td>
                        <td><span th:text="${strongCarbonatedCount}"></span></td>
                        <td><span th:text="${lightCarbonatedCount}"></span></td>
                        <td><span th:text="${nonCarbonatedCountToday}"></span></td>
                        <td><span th:text="${lightCarbonatedCountToday}"></span></td>
                        <td><span th:text="${strongCarbonatedCountToday}"></span></td>
                        <td><span th:text="${todayCount}"></span></td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>