<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Main Page</title>
</head>
<body>

<div class="w3-sidebar w3-bar-block w3-blue w3-border w3-card w3-large w3-padding" style="width:15%">
    <a href="/main" class="w3-bar-item w3-button">Статистика</a>
    <a href="/packages/ONE_AND_A_HALF_LITER" class="w3-bar-item w3-button">Півтори літра</a>
    <a href="/packages/HALF_LITER" class="w3-bar-item w3-button">Пів літра</a>
    <a href="/packages/FIVE_LITER" class="w3-bar-item w3-button">П'ять літрів</a>
    <a href="/orders" class="w3-bar-item w3-button">Замовлення</a>
</div>

<div style="margin-left:15%">
    <h1 style="color:cadetblue">Меденицькі Джерела </h1>
    <div class="container mt-5">
    <div class="card">
        <div class="card-header bg-blue text-black">
            <h2 class="text-center " style="color: black">Статистика</h2>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                       <!-- <th>Ємкість</th>-->
                        <th>Негазована</th>
                        <th>Слабогазована</th>
                        <th>Сильногазована</th>
                        <th>Негазована за сьогодні</th>
                        <th>Слабогазована</th>
                        <th>Сильногазована за сьогодні</th>
                        <th>Загально за сьогодні</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><span th:text="${noneCount}"></span></td>
                        <td><span th:text="${strongCount}"></span></td>
                        <td><span th:text="${lightCount}"></span></td>
                        <td><span th:text="${noneCountToday}"></span></td>
                        <td><span th:text="${strongCountToday}"></span></td>
                        <td><span th:text="${lightCountToday}"></span></td>
                        <td><span th:text="${todayCount}"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>