<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="/CSS/style.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<head>
  <title>Меденицькі Джерела</title>
</head>
<body>
<div class="w3-sidebar w3-bar-block w3-blue w3-border w3-card w3-large w3-padding" style="width:15%">
  <a href="/addPackage/ONE_AND_A_HALF_LITER" class="w3-bar-item w3-button">Півтори літра</a>
  <a href="/addPackage/HALF_LITER" class="w3-bar-item w3-button">Пів літра</a>
  <a href="/addPackage/five-liter" class="w3-bar-item w3-button">П'ять літрів</a>
  <a href="/orders" class="w3-bar-item w3-button">Замовлення</a>

</div>

<div style="margin-left:15%">
  <h1>Замовлення</h1>

  <div class="container mt-5">

    <form th:action="@{/orders/create-order}" method="post">
      <div>
        <label for="address">Адреса:</label>
        <input type="text" id="address" name="address" required>
      </div>
      <div>
        <label for="city">Місто:</label>
        <input type="text" id="city" name="city" required>
      </div>
      <div>
        <label for="customerNumber">Номер замовника:</label>
        <input type="text" id="customerNumber" name="customerNumber" required>
      </div>

      <div id="packages">
        <div class="package">
          <div>
            <label>Розмір:</label>
            <label>
              <select name="packageCapacity" required>
                <option value="" disabled selected>Виберіть розмір пакету</option>
                <option value="ONE_AND_A_HALF_LITER">1.5 літра</option>
                <option value="FIVE_LITER">5 літрів</option>
                <option value="HALF_LITER">0.5 літра</option>
              </select>
            </label>
          </div>
          <div>
            <label>Тип:</label>
            <label>
              <select name="carbonationLevel" required>
                <option value="" disabled selected>Виберіть тип води</option>
                <option value="NONE">Негазована</option>
                <option value="STRONG">Сильногазована</option>
                <option value="LIGHT">Слабогазована</option>
              </select>
            </label>
          </div>
          <div>
            <label>Кількість:</label>
            <label>
              <input type="number" name="packageQuantity" min="1" required>
            </label>
          </div>
        </div>
      </div>

      <button type="submit" name="submit" value="submit">Створити замовлення</button>
    </form>
  </div>
</div>